<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="color: #000">all Articles Page</h1>
    <div>
      <% for(let article of allArticles){ %>
      <div style="margin: 10px; color: #000; width: 80%; background-color: #515151; padding: 10px;">
        <h1><%= article.title %></h1>
        <p><%= article.body %></p>
      </div>

      <% }%>
    </div>
  </body>
</html>
